apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16.0
        ports:
        - containerPort: 5432
        env:
          - name: POSTGRES_DB
            value: demo
          - name: POSTGRES_USER
            value: demo
          - name: POSTGRES_PASSWORD
            value: demo  
        resources:
          requests:
              memory: "256Mi"
              cpu: "150m"
          limits:
            memory: "512Mi"
            cpu: "300m"

